*{
    padding:0;
    margin: 0;
}
button:focus {
    outline: none !important;
}
body {
    display:block;
}

.header_section{
    width: 80%;
    height: 100px;
    margin: auto;
    border-bottom: 2px solid rgba(37, 37, 37, 0.20);
}
.head_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto; 
    align-items: center;
    padding-top: 35px;
}
.sort{
    text-align: center;
}
.button{
    padding: 10px 20px;
    border:none;
    background-color: rgba(37, 37, 37, 0.20);
    border-radius: 5px;
    color: rgba(71, 71, 71, 0.7);
    font-weight: 500;
}
.active_btn{
    padding: 10px 20px;
    border: none;
    background-color: red;
    border-radius: 5px;
    color: white;
    left: 88%;
    position: inherit;
}



.tab_section{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

.four_tabs .active_btn ,.four_tabs .button{
    margin-right: 10px;
}
.thumnail_section{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.all_thumbnails{
    display: flex;
}
.all_thumbnails img {
    width: 100%;
}
.identity_section,.name_badge{
    display: flex;
}

.author_img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.banner_img {
    position: relative;
    border-radius: 5px;
    height: 210px;
}

.post_time {
    position: absolute;
    left: 70%;
    top: 60%;
    background: #000000b8;
    padding: 2px;
    color: white;
    font-size: 13px;
}
.autor_details{
    margin-left: 15px;
}
.channel_name,.views{
    opacity: 0.6;
}

.auth_badge img{
    width: 70%;
    margin-left: 5px;
}

.notice{
    font-size: 30px;
}
.iconimg {
    width: 14% !important;
    height: 202px;
    margin: auto;
}

button:active{
    background-color: aqua;
    color: black;
}